body{
    display: flex;
    margin: 0;
    flex-direction: row;
    gap: 16px;
    min-height: 100vh;
    align-self: stretch;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    nav{
        display: flex;
        flex-direction: column;
        width: 63px;
        padding: 12px 7.5px;
        justify-content: space-between;
        align-items: flex-start;
        border-right: 1px solid #CBC6DE;
        border-left: 1px solid #CBC6DE;
        background: #FFFFFF;
        
        @media (max-width: 768px){
            flex-direction: row;
            width: auto;
            border-bottom: 1px solid #CBC6DE;
            border-right: none;
            border-left: none;
        }
        
        .top-nav{
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media (max-width: 768px){
                flex-direction: row;
            }
            
            .logo{
                padding: 8px 0px 0px 12px;
            }

            .event-logo{
                padding: 4px 8px;
            }
        }
        .bottom-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            @media (max-width: 768px){
                width: 32px;
            }
            .user-circle{
                background-color: #444;
                color: #fff;
                height: 32px;
                width: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                font-size: 16px;
            }
        }
        img{
            border-radius: 8px;
        }
    }
    .wrapper-layout{
        padding: 40px 48px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        gap: 32px;

        @media (max-width: 767.98px){
            padding: 20px;
            width: auto;
        }

        .event-info-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 767.98px){
                flex-direction: column;
                gap: 10px;
            }

            .left-info{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;

                .event-details{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p{
                        margin: 0;
                    }
                }
            }

            .right-info{
                button{
                    display: flex;
                    padding: 8px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    background-color: #5C00DC;
                    color: #FFFFFF;
                    border: none;

                    &:hover{
                        background-color: #CBC6DE;
                        color: #5C00DC;
                    }
                }
            }
        }
        .event-dis{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .attendee-wapper{
            display: flex;
            flex-direction: column;
            gap: 24px;

            .top-bar{
                border-top: 1px solid #CBC6DE;
            }

            .attendee-header{
                display: flex;
                align-items: center;
                gap: 24px;
                align-self: stretch;
            }

            .base-settings{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .wrapper-base{
                    display: flex;
                    flex-direction: row;
                    padding: 16px 24px;
                    align-items: flex-start;
                    gap: 32px;
                    border-radius: 4px;
                    border: 1px solid #CBC6DE;
                    background: #fff;
                    flex-wrap: wrap;

                    .box{
                        padding: 8px;
                        gap: 4px;
                        .box-text{
                            font-size: 12px;
                        }
                    }
                    .base-save{
                        padding: 8px;
                        align-self: self-end;
                    }
                }
            }
            .build{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .wrapper-build{
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    gap: 24px;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .card-box{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        flex-shrink: 0;
                        align-self: stretch;
                        padding: 24px 32px;
                        border-radius: 4px;
                        border: 1px solid #CBC6DE;
                        background: #fff;
                        flex: 1;

                        .reg-title{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            h5{
                                font-size: 13px;
                            }
                        }
                        .reg-info{
                            font-size: 12px;
                            
                        }

                        &.add-new{
                            justify-content: center;
                            align-items: center;
                            .reg-addon{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        
                        
                    }
                }
                
            }

            .design{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .wrapper-design{
                    display: flex;
                    padding: 24px 32px;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 4px;
                    align-self: stretch;
                   

                    .card-box{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        flex-shrink: 0;
                        align-self: stretch;
                        padding: 24px 32px;
                        border-radius: 4px;
                        border: 1px solid #CBC6DE;
                        background: #fff;
                        flex: 1;

                        .reg-title{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            h5{
                                font-size: 13px;
                            }
                        }
                        .reg-info{
                            font-size: 12px;
                            
                        }
                        
                    }

                }
            }
        }
    }
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;

    .modal-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-body {
            background-color: #fff;
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: fit-content;
            justify-content: center;

            .modal-form{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .form-row {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                }
                .check-wrapper{
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                }

            }
            .modal-buttons{
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
}