@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './app.scss';
*{
    font-family: "Inter", sans-serif;
    transition: 300ms ease-in;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
 h1{
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 32px;
 }
 
 h6{
    color: #222;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
 }

 p{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
 }

 button, .btn{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #5C00DC;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

}

button:hover, .btn:hover{
    background-color: #CBC6DE;
    color: #5C00DC;
}

.component-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

input, select {
    padding: 5px;
    outline: none;
    border: 2px solid #e2e8f0;
    border-radius: 4px;

}

select option {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}
select option:not(:last-child) {
    border-bottom: 1px solid var(--neutral-300);
}

select option:hover {
    background: var(--indigo-50);
    color: var(--indigo-700);
}

select option:is(:checked) {
    background-color: var(--indigo-500);
    color: var(--white);
}

select option::checkmark {
    position: absolute;
    right: 1rem;
}


 input.toggle{
    opacity: 0;
    position: absolute;
    left: -9000px;
    right: -9000px;
    top: -9000px;
 }
 input.toggle + label{                              
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
 }
input.toggle + label::before{                         
    content: "";
    width: 2em;
    height: 1em;
    background-color: #CBC6DE;
    border-radius: 1em;
    margin-right: 10px;
 }
input.toggle + label::after{ 
    position: absolute;
    left: .1em;
    content: "";
    background-color: #FFFFFF;
    width: .9em;
    height: .9em;
    border-radius: 1em;
    margin-right: 10px;
    transition: 200ms ease-in-out;
}
input.toggle:checked + label::before{    
    background-color: #5C00DC;                   
}     
input.toggle:checked + label::after{
    transform: translateX(100%);
    left: .1em;
}

 